#services {
    .service-container {
        .title-section {
            padding: 0 clamp(1rem, 10vw, 150px);
            h2 {
                font-size: clamp(28px, 3vw, 48px);
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0;
                text-transform: uppercase;
                position: relative;
                display: inline-block;

                .title-main {
                    color: var(--secondary-color);
                }

                .title-accent {
                    color: var(--ternary-color);
                }
            }
            p {
                color: var(--para-color);
                font-size: clamp(14px, 1.25vw, 18px);
                font-weight: 400;
                line-height: 150%;
            }
        }

        .card-section {
            .card-wrapper {
                .card {
                    overflow: hidden;
                    position: relative;
                    .card-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0%;
                        height: 100%;
                        background: var(--gradient-accent-2);
                        z-index: 0;
                        pointer-events: none;
                    }
                    .items-wrapper {
                        position: relative;
                        z-index: 1;
                        .item-1 {
                            position: relative;
                            border: 6px solid var(--ternary-color);
                            border-radius: 75px;
                            width: 66px;
                            height: 66px;
                            background-color: var(--button-color-2);
                            box-shadow: inset 10px 10px 9px 2px rgba(255, 255, 255, 0.09);
                            overflow: hidden;
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: 1;
                            }

                            .icon {
                                width: 34px;
                                height: 34px;
                                path {
                                    fill: var(--secondary-color);
                                }
                                &.icon-gradient path {
                                    fill: rgb(233, 110, 21);
                                }
                            }
                        }
                        .item-2 {
                            overflow: hidden;
                            .card-title {
                                font-size: clamp(18px, 1.6vw, 24px);
                                font-weight: 600;
                                line-height: 150%;
                                text-transform: capitalize;
                                letter-spacing: 0;
                            }
                            .card-description {
                                font-size: clamp(13px, 1.4vw, 16px);
                                font-weight: 400;
                                line-height: 150%;
                                letter-spacing: -0.5px;
                                color: var(--para-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
