#about {
    .about-container {
        .title-section {
            padding: 0 clamp(1rem, 10vw, 150px);
            h2 {
                font-size: clamp(28px, 3vw, 48px);
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0;
                color: var(--ternary-color);
                text-transform: uppercase;

                span {
                    color: var(--secondary-color);
                }
            }
            p {
                color: var(--para-color);
                font-size: clamp(14px, 1.25vw, 18px);
                font-weight: 400;
                line-height: 150%;
            }
        }

        .about-items-section {
            .item-wrapper {
                .item {
                    .number {
                        h2 {
                            font-size: clamp(76px, 5vw, 90px);
                            font-weight: 600;
                            line-height: 150%;
                            background: linear-gradient(to right, rgba(15, 15, 15, 1), rgb(44, 44, 44));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            color: transparent;
                        }
                    }

                    .title {
                        h4 {
                            font-size: clamp(20px, 2vw, 24px);
                            font-weight: 500;
                            line-height: 150%;
                            color: var(--ternary-color);
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }
}
