#cta {
    .cta-container {
        position: relative;
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border-top: 1px solid #262626;
        border-left: 1px solid linear-gradient(180deg, #262626, #0f0f0f);
        border-right: 1px solid linear-gradient(180deg, #262626, #0f0f0f);
        border-bottom: none;
        overflow: hidden;
        padding: 100px;
        padding-bottom: 0;
        background: linear-gradient(180deg, #1a1a1a, #0f0f0f);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/images/CTA/cta-bg.png") center/cover no-repeat;
            opacity: 0.5;
            mix-blend-mode: multiply;
            z-index: 1;
        }

        .title-section {
            z-index: 5;
            .text-section {
                .title {
                    font-size: 38px;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: 0;
                    color: var(--secondary-color);
                }
                .description {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0;
                    color: var(--para-color);
                }
            }

            .button-section {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0;
                    color: var(--secondary-color);
                }
                .buttons {
                    .btn1 {
                        padding: 14px 24px;
                        border-radius: 56px;
                        background: var(--secondary-color);
                        color: var(--button-color-2);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0;
                    }
                    .btn2 {
                        padding: 14px 24px;
                        border-radius: 56px;
                        background: var(--button-color-2);
                        color: var(--secondary-color);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0;
                        border: 1px solid #262626;
                    }
                }
            }
        }

        .image-section {
            height: 320px;
            position: relative;
            overflow: hidden;

            .cta-bottom-image {
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: 450px;
                z-index: 2;
                opacity: 0.9;
            }

            .bars {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 3;
                overflow: hidden;
                background: rgba(15, 15, 15, 0.2);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(3px);
            }
        }
    }
}
